*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto' , san-serif;
}

.a_container{
	width: 100%;
	height: 100hv;
	position: relative;
	font-family: 'Roboto' , san-serif;
	display: flex;
}

.a_container video {
	width: 100%;
	height: 100%;
}

.text_box {
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	height: 100%;
	width: 100%;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 500%;
	font-weight: 1000;
	mix-blend-mode: multiply;
	text-align: center;
}


.container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(our-img.png);
	background-size: cover;
	background-position: center;
	padding: 0 8%;
	position: relative;
	display: flex;
}


nav {
	display: block;
	width: 100%;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px 0;
}

nav ul{
	flex: 1;
	text-align: right;
	padding-right: 30px;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 30px;	
}

nav ul li a{
	color: #fff;
	text-decoration: none;
	font-family: 'poppins',sans-serif;
	position: relative;
	font-size: 20px;
}

nav ul li a::after{
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	bottom: -5px;
	background: #fff;
	transition: width 0.3s;
}

nav ul li a:hover::after{
	width: 50%;
}

#icon{
	width: 50px;
	background: white;
}

.text-box{
	color: #fff;
	position: absolute;
	bottom: 8%;
}

.text-box p{
	font-size: 400%;
	font-weight: 600;

}

.text-box h1{
	font-size: 800%;
	line-height: 120%;
	margin-left: -10px;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	background: url(back.png);
	-webkit-background-clip: text;
	background-position: 0 0;
	animation: back 20s linear infinite;
}

@keyframes back{
	100%{
		background-position: 300% 0;
	}
}


.text-box h3{
	font-size: 270%;
	font-weight: 700;
}

.text-box .row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 30px;

}

.text-box a{
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	margin-right: 20px;
	border: 2px solid #fff;
	display: flex;
	align-items: center;
}

.text-box a span{
	font-size: 200%;
	line-height: 15px;
	margin-left: 5px;
}

.social-icons img{
	width: 40px;
	margin: 25px 5px;
}

h2 {
	color: white;
	text-align: center;
	position: relative;
	z-index: +1;
	-webkit-box-sizing: border-box;  
	-moz-box-sizing: border-box;  
	box-sizing: border-box;  
	padding: 0px;  
	border: none;  
	font: normal 60px/normal "Dynalight", Helvetica, sans-serif;  
	color: rgba(255,255,255,1);  
	text-decoration: normal;  
	text-align: center;  
	-o-text-overflow: clip;  
	text-overflow: clip;  
	/*white-space: pre; */ 
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;  
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);  
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);  
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);  
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

}

h2:hover {  
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

.underline {
	width: 100%;
	height: 8px;
	background: #767676;
	border-radius: 5px;
	position: absolute;
	top: 150px;
	left: 0 ;
}

.underline span{
	width: 50px;
	height: 100%;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	top: 0px;
	left: 40px ;
	animation: moving 6s linear infinite;
}

@keyframes moving {
	0%{
		left :-20px;
	}
	100%{
		left: 100%;
	}
}

#header{
	background: rgba(0,0,100,0.4);
	height: 100vh;
	display: flex;
}

.video-background{
	position: absolute;
	right: 0;
	bottom::0;
	min-width: 100% ;
	min-height: 100%;
	width: auto;
	height: auto;

}

.hero{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.hero .carousel {
	width: 300px;
	margin: 100px auto 0;
	overflow: visible;
}

#icon{
	width: 50px;
	background: white;
}

.carousel img {
	-webkit-box-reflect: below 10px linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.3));

}